html {
	background-color: #999999;
}

body {
	background-color: #FFFFFF;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-family: "Verdana";
}

.navBar {
	background-color: teal;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	width: 100%;
	display: table;
}

.navBar a {
	display: inline-block;
	width: calc(100%/3);
	text-align: center;
	float: left;
	padding-top: 1%;
	padding-bottom: 1%;
	text-decoration: none;
}

.navBar a:hover {
	background-color: #2F4F4F;
	color: #FFFFFF;
}

.navBar a:visited {
    color: #FFFFFF;
}

.mainContent {
	padding: 0px 5px 10px 5px;
}

.mainContent h2 {
	text-align: center;
}

.mainContent .project {
	align: center;
}

.project {
	display: inline-block;
	width: 45%;
	margin-left: 3%;
	margin-right: 3;
	margin-top: 1%;
	margin-bottom: 1%;
	background-color: #F5F5F5;
	text-align: center;
	box-shadow: 5px 5px 5px grey;
	
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.mainContent .project:hover {
	box-shadow: 6px 6px 2px grey;
	background-color: #DCDCDC;
}

#plants {
	width: 100%;
}




